:root {
    --text-color: #a00215;  
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
body {
    min-width: 320px;
}

/*HEADER*/
header {
    width: 100%;
    min-width: 150px;
    /* height: 100px; */
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    z-index: 5;
    border-bottom: solid gray 1px;
}
.logo {
    /* width: 30%; */
    display: inline-block;
} 
.logo img {
    /* width: 100%; */
    max-height: 60px;
    border-radius: 40px;
}
nav {
    display: flex;
    height: 100%;
}
.header-nav {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    /* justify-content: space-around; */
    /* flex-wrap: wrap; */
    margin-right: 10px;
}
.header-nav li {
    display: inline-block;
    list-style: none;
    margin: 3px;

}
.header-nav li > a {
    color: #860414;
    border: solid 1px #860414; 
    border-radius: 5px;
    font-size: 1.6rem;
    text-decoration: none;
    cursor: pointer;
    padding: 0 1px;
} 


/***MAIN***/
main {
    display: flex;
    position: relative;
}
.principal{
    background-color: #000000;
}
.Akatsuki-Member {
    border: solid 1px var(--text-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px auto;
    width: 90%;
    border-radius: 30px;
    background-color: #16151b;
}
.Akatsuki-Member h3 {
    font-size: 2.3rem;
    color: gray;
    display: inline;
    text-align: center;

}
.Akatsuki-Member figure {
    width: 60%;
    margin: 5px auto;
    display: flex;
    flex-wrap: wrap;
}
.Akatsuki-Member img {
    width: 100%;
    border-radius: 10px; 
}
.Akatsuki-Member figcaption {
    color: var(--text-color);
    font-size: 1.4rem;
    margin-top: 10px;
}
.Akatsuki-Member p {
    font-size: 1.8rem;
    width: 60%;
    margin: 5px auto;
    color: gray;
    text-align: justify;
}


/*FOOTER*/
footer {
    background-color: #6f0614;
    width: 100%;
    position: relative;
}
.contact {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.contact p {
    font-size: 2rem;
    padding: 0 10px;
    font-weight: bolder;
}
.contact img {
    max-height: 25px;
    margin: 30px 10px;
}